.product-details-selector-active-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(20,20,20,.5);
  z-index: 1;
}

.product-details-selector-active-modal .dialog-box {
  display: block;
  background: white;
  padding: 1em;
  border-radius: 0.5em;
  margin: 3em;
  overflow: scroll;
}
